@{
    ViewBag.Title = "Home Page";
}

    <div class="slider-wrapper">
        <div class="slider">
            @*<div class="fs_loader"></div>*@
            <div class="slide">
                <img src="~/Content/ManOne/images/fraction-slider/manone.jpg" width="1920" height="3000" data-in="fade" data-out="fade" />

                <img src="~/Content/ManOne/images/fraction-slider/new-1.jpg" width="600" height="600" data-position="30,1100" data-in="left" data-out="right" data-delay="700" />

                <p class="slide-1" data-position="50,610" data-in="fade" data-out="fade" data-delay="800">fully Your Choice</p>
                <p class="slide-1" data-position="100,560" data-in="fade" data-out="fade" data-delay="1200">Our latest designs </p>
                <p class="slide-1" data-position="150,500" data-in="fade" data-out="fade" data-delay="1600">your Most Desired one</p>

                <p class="slide-1a" data-position="220,770" data-in="bottom" data-out="bottom" data-delay="2000" data-ease-in="easeOutBounce"> Grab These New Item</p>
                <p class="slide-1a" data-position="267,698" data-in="bottom" data-out="bottom" data-delay="3200" data-ease-in="easeOutBounce"> combination color option</p>
                <p class="slide-1a" data-position="314,760" data-in="bottom" data-out="bottom" data-delay="4200" data-ease-in="easeOutBounce">Best Wearing Dress</p>
                <p class="slide-1a" data-position="361,753" data-in="bottom" data-out="bottom" data-delay="5200" data-ease-in="easeOutBounce">Much More Featured...</p>
            </div>

            <div class="slide">
                <img src="~/Content/ManOne/images/fraction-slider/manone.jpg" width="1920" height="auto" data-in="fade" data-out="fade" />

                <img src="~/Content/ManOne/images/fraction-slider/new3_550x500.jpg" width="600" height="545" data-position="20,400" data-in="right" data-0ut="bottom" data-delay="500" />

                <p class="slide-2 " data-position="120,900" data-in="bottom" data-out="top" data-delay="2000">Our Collection</p>
                <p class="slide-2a " data-position="210,900" data-in="left" data-out="right" data-delay="3000">A responsive multipurpose Storing</p>
                <p class="slide-2b " data-position="270,900" data-in="top" data-out="bottom" data-delay="4000" data-ease-in="easeOutBounce">For Your Prestigious World !</p>
            </div>

            <div class="slide">
                <video controls="controls" autoplay loop muted >
                    <source src="~/Content/ManOne/video/bandicam%202022-09-17%2012-04-32-746.mp4" type="video/mp4" width="1920" data-in="fade"/>
                </video>
               
                @*<img src="~/Content/ManOne/images/fraction-slider/base_3.jpg" width="1920" height="auto" data-in="fade" data-out="fade" />*@

                <p class="slide-heading" data-position="130,370" data-in="top" data-out="top" data-ease-in="easeOutBounce" data-delay="1500">Electrify Design</p>

                <p class="sub-line" data-position="230,370" data-in="right" data-out="left" data-delay="2500">A pair of neutral chinos.</p>

                <img src="~/Content/ManOne/images/fraction-slider/gadgets/pant3_456x272.png" width="456" height="272" data-position="115,1180" data-in="bottom" data-out="bottom" data-delay="400">

                <img src="~/Content/ManOne/images/fraction-slider/gadgets/shirt2_357x313.png" width="357" height="313" data-position="90,1040" data-in="top" data-out="bottom" data-delay="200">

                <img src="~/Content/ManOne/images/fraction-slider/gadgets/polo_180x270.png" width="120" height="170" data-position="230,1030" data-in="left" data-out="left" data-delay="300">

                <img src="~/Content/ManOne/images/fraction-slider/gadgets/tye1_70x140.png" width="70" height="140" data-position="270,1320" data-in="right" data-out="right" data-delay="300">

                <a href="" class="btn btn-lg btn-default" data-position="320,370" data-in="bottom" data-out="bottom" data-delay="3700" data-ease-in="easeOutBounce">Shop Now</a>
            </div>
        </div>
    </div>


    <section class="feature-block">
        <div class="container-fluid">
            <div class="text-center">
                <h4 style="color: #717CB6;font: 700 34px/37px; margin-top:25px">Your Choice</h4>
            </div>
            <div class="row">
                <div class="col-lg-12 col-sm-12 col-md-12">


                    <div class="col-md-3 col-sm-6">
                        <div class="product-grid">
                            <div class="product-image">
                                <a href="#" class="image">
                                    <img src="~/Content/ManOne/images/shirt1.jpg">
                                </a>
                                <a class="add-cart" href="#"> Shop </a>
                            </div>
                            <div class="product-content">
                                <h3 style="text-align:center" class="title"><a href="#">Casual Shirt</a></h3>

                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="product-grid">
                            <div class="product-image">
                                <a href="#" class="image">
                                    <img src="~/Content/ManOne/images/teashirt_583x741.jpg">
                                </a>
                                <a class="add-cart" href="#"> Shop </a>
                            </div>
                            <div class="product-content">
                                <h3 style="text-align:center" class="title"><a href="#">TEA SHIRT</a></h3>

                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="product-grid">
                            <div class="product-image">
                                <a href="#" class="image">
                                    <img src="~/Content/ManOne/images/pant_583x740.jpg">
                                </a>

                                <a class="add-cart" href="#"> Shop </a>
                            </div>
                            <div class="product-content">
                                <h3 style="text-align:center" class="title"><a href="#">PANTS</a></h3>

                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="product-grid">
                            <div class="product-image">
                                <a href="#" class="image">
                                    <img src="~/Content/ManOne/images/panjabi_583x741.jpg">
                                </a>
                                <a class="add-cart" href="#"> Shop </a>
                            </div>
                            <div class="product-content">
                                <h3 style="text-align:center" class="title"><a href="#">PANJABI</a></h3>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="super_sub_content">
        <div class="dividerHeading text-center">
            <h4><span style="color: #717CB6;">RECENT Arrivel</span></h4>
        </div>

        <nav class="clearfix">
            <ul id="filter">
                <li data-filter="*" class="selected"><a href="#">ALl</a></li>
                <li data-filter=".flayers"><a href="#">Casual Shirt</a></li>
                <li data-filter=".mockups"><a href="#">Polo Shirt</a></li>
                <li data-filter=".graphic-design"><a href="#">Jeans Pant</a></li>
                <li data-filter=".web-design"><a href="#">Panjabi</a></li>

            </ul>
        </nav>

        <div class="portfolio-centered">
            <div class="recentitems portfolio">

                <div class="portfolio-item mockups">
                    <div class="box">
                        <img src="~/Content/ManOne/images/portfolio/teashirt_583x741.jpg" alt="">
                        <div class="option inner">
                            <div>
                                <h5>A Graphic Design Item</h5>
                                <a href="~/Content/ManOne/images/portfolio/teashirt_583x741.jpg" class="fa fa-search mfp-image"></a>
                                <a href="portfolio_single.html" class="fa fa-link"></a>
                            </div>
                        </div>
                    </div><!-- box -->
                </div>

                <div class="portfolio-item graphic-design">
                    <div class="box">
                        <img src="~/Content/ManOne/images/portfolio/pant_583x740.jpg" alt="">
                        <div class="option inner">
                            <div>
                                <h5>New Flayer Design Item</h5>
                                <a href="~/Content/ManOne/images/portfolio/pant_583x740.jpg" class="fa fa-search mfp-image"></a>
                                <a href="portfolio_single.html" class="fa fa-link"></a>
                            </div>
                        </div>
                    </div><!-- box -->
                </div>

                <div class="portfolio-item graphic-design">
                    <div class="box">
                        <img src="~/Content/ManOne/images/portfolio/pant_583x740.jpg" alt="">
                        <div class="option inner">
                            <div>
                                <h5>Gray and Pink</h5>
                                <a href="~/Content/ManOne/images/portfolio/pant_583x7401.jpg" class="fa fa-search mfp-image"></a>
                                <a href="portfolio_single.html" class="fa fa-link"></a>
                            </div>
                        </div>
                    </div><!-- box -->
                </div>

                <div class="portfolio-item mockups">
                    <div class="box">
                        <img src="~/Content/ManOne/images/portfolio/teashirt_583x741.jpg" alt="">
                        <div class="option inner">
                            <div>
                                <h5>Amazing Keyboard Desin</h5>
                                <a href="~/Content/ManOne/images/portfolio/teashirt_583x741.jpg" class="fa fa-search mfp-image"></a>
                                <a href="portfolio_single.html" class="fa fa-link"></a>
                            </div>
                        </div>
                    </div><!-- box -->
                </div>

                <div class="portfolio-item flayers">
                    <div class="box">
                        <img src="~/Content/ManOne/images/portfolio/new-1.jpg" alt="">
                        <div class="option inner">
                            <div>
                                <h5>Our Favorite Colors</h5>
                                <a href="~/Content/ManOne/images/portfolio/new-1.jpg" class="fa fa-search mfp-image"></a>
                                <a href="portfolio_single.html" class="fa fa-link"></a>
                            </div>
                        </div>
                    </div><!-- box -->
                </div>

                <div class="portfolio-item flayers">
                    <div class="box">
                        <img src="~/Content/ManOne/images/portfolio/new-1.jpg" alt="">
                        <div class="option inner">
                            <div>
                                <h5>Not War Make Design</h5>
                                <a href="~/Content/ManOne/images/portfolio/new-1.jpg" class="fa fa-search mfp-image"></a>
                                <a href="portfolio_single.html" class="fa fa-link"></a>
                            </div>
                        </div>
                    </div><!-- box -->
                </div>

                <div class="portfolio-item graphic-design">
                    <div class="box">
                        <img src="~/Content/ManOne/images/portfolio/pant_583x740.jpg" alt="">
                        <div class="option inner">
                            <div>
                                <h5>A GREAT MOCK-UPS</h5>
                                <a href="~/Content/ManOne/images/portfolio/pant_583x740.jpg" class="fa fa-search mfp-image"></a>
                                <a href="portfolio_single.html" class="fa fa-link"></a>
                            </div>
                        </div>
                    </div><!-- box -->
                </div>

                <div class="portfolio-item web-design">
                    <div class="box">
                        <img src="~/Content/ManOne/images/portfolio/panjabi_583x741.jpg" alt="">
                        <div class="option inner">
                            <div>
                                <h5>Missis Of 2014</h5>
                                <a href="~/Content/ManOne/images/portfolio/panjabi_583x741.jpg" class="fa fa-search mfp-image"></a>
                                <a href="portfolio_single.html" class="fa fa-link"></a>
                            </div>
                        </div>
                    </div><!-- box -->
                </div>

                <div class="portfolio-item web-design">
                    <div class="box">
                        <img src="~/Content/ManOne/images/portfolio/panjabi_583x741.jpg" alt="">
                        <div class="option inner">
                            <div>
                                <h5>Light Carpet</h5>
                                <a href="~/Content/ManOne/images/portfolio/panjabi_583x741.jpg" class="fa fa-search mfp-image"></a>
                                <a href="portfolio_single.html" class="fa fa-link"></a>
                            </div>
                        </div>
                    </div><!-- box -->
                </div>

                <div class="portfolio-item web-design mockups">
                    <div class="box">
                        <img src="~/Content/ManOne/images/portfolio/teashirt_583x741.jpg" alt="">
                        <div class="option inner">
                            <div>
                                <h5>Business Card Mock-Up</h5>
                                <a href="~/Content/ManOne/images/portfolio/teashirt_583x741.jpg" class="fa fa-search mfp-image"></a>
                                <a href="portfolio_single.html" class="fa fa-link"></a>
                            </div>
                        </div>
                    </div><!-- box -->
                </div>

            </div><!-- portfolio -->
        </div><!-- portfolio container -->
    </section>

